
{:pom {:group-id "respo",
       :artifact-id "alerts",
       :version "0.3.15-a1",
       :name "Respo alerts library."}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
